body{

    margin:10px;
    padding: 10px;
}
ul{

    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;

}
ul li a{
    display: block;
    padding: 20px 40px;
    text-decoration: none;
}
ul li a:hover{
    background-color: #ddd;

}
ul li a.active{
    background-color: pink;

}